.Button {
	padding: 7px 14px;
	border: none;
	outline: none;
	box-shadow:
		3px 3px 4px rgba(55, 84, 170, 0.15), /*1 true*/
		inset 0 0 0 0 transparent, /*2 false*/
		-4px -4px 10px rgba(255, 255, 255, 1), /*3 true*/
		inset 0 0 0 0 transparent,	/*4 false */
		inset 0px 0px 4px rgba(255, 255, 255, 0.2), /*5  false*/
		0 0 0 0 transparent,	/*6 true*/
		inset 1px 1px 4px rgba(55, 84, 170, 0.2), /*7 */
		0 0 0 0 transparent, /*8 true*/
		inset -3px -3px 4px rgba(255, 255, 255, 0.5), /*9 false*/
		0 0 0 0 transparent, /*10 true*/
		0px 0px 4px rgba(255, 255, 255, 0.35), /*11 true*/
		inset 0 0 0 0 transparent;	/*12 false */
	border-radius: 20px;
	cursor: pointer;

	color: #BBBBBB;
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 600;
}


.Button:hover {
	transition: box-shadow .35s ease, color 0.3s ease, font-size 0.2s ease;
	font-size: 1.5rem;
	color: #999999;
	box-shadow:0 0 0 0 transparent, /*1 true*/
			inset -1px -1px 15px rgba(55, 84, 170, 0.2), /*2 false*/
			3px 3px 5px rgba(55, 84, 170, 0.05),	/*3 true*/
			inset 0 0 18px rgba(255, 255, 255, 1), /*4 false */
			inset 0 0 0 0 transparent, /*5  false*/
			0px 0px 7px rgba(255, 255, 255, 0.3), /*6 true*/
			inset 1px 1px 3px rgba(150, 150, 150, 0.4), /*7 false*/
			 -1px -1px 12px rgba(55, 84, 170, 0.2), /*8 true*/
			inset 0 0 0 0 transparent, /*9 false*/
			 2px 2px 7px rgba(255, 255, 255, 0.5), /*10 true*/
			0 0 0 0 transparent,	/*11 true*/
			inset 0px 0px 4px rgba(255, 255, 255, 0.35); /*12 false*/

}

/*.Button:hover {*/
/*	transition: box-shadow 0.3s ease, color 0.3s ease;*/
/*	box-shadow:  -1px -1px 2px rgba(55, 84, 170, 0.15),*/
/*		0 0 0 rgba(0, 0, 0, 0),*/
/*		inset 0px 0px 10px rgba(200, 200, 200, 0.2),*/
/*		inset 0px 0px 15px rgba(255, 255, 255, 0.9),*/
/*		inset -3px -3px 4px rgba(255, 255, 255, 0.5),*/
/*		0px 0px 2px rgba(255, 255, 255, 0.35);*/
/*	color: #999999;*/
/*}*/

.Button:active {
	transition: box-shadow 0.1s ease, color 0.2s ease, font-size 0.1s ease;
	font-size: 1.3rem;
	color: #BBBBBB;
	box-shadow:
			1px 1px 2px rgba(55, 84, 170, 0.15),
			inset 0 0 0 0 transparent, /*2 false*/
			-1px -1px 4px rgba(255, 255, 255, 1),
			inset 0 0 0 0 transparent,	/*4 false */
			inset 0px 0px 2px rgba(255, 255, 255, 0.2),
			0 0 0 0 transparent,	/*6 true*/
			inset 1px 1px 2px rgba(55, 84, 170, 0.2),
			0 0 0 0 transparent, /*8 true*/
			inset -2px -2px 3px rgba(255, 255, 255, 0.5),
			0 0 0 0 transparent, /*10 true*/
			0px 0px 3px rgba(255, 255, 255, 0.35),
			inset 0 0 0 0 transparent;	/*12 false */
}

.Button:disabled {
	opacity: 0.5;
	cursor: auto;
	pointer-events: none;
}


